button {
  margin: auto;
}

img {
  display: flex;
  margin: auto;
}

.card {
  display: flex;
  flex-grow:1;
  flex-direction: column;
  border: 1px black solid;
}


.deck {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.deck footer {
  background-color: gray;
}

.deck header {
  background-color: darkgray;
}

